
header{
    height: 8vh;
    display: grid;
    grid-template-rows: 0.1fr;
    margin-top: -8px;
    
}

.navbar-one{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    background-color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: -10px;
    margin-right: -8px;
    height: 8vh;
    opacity: 70%;
    background-color: #010630;
   
   
}
.logocode{
    display: flex;
    height: 7vh;
    margin-top: -2vh;
    margin-left: -2vw;
    color: white;
}
.liste-une {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    list-style: none;
    text-decoration: none;
     color: white;
     width: 80%;
    
}
.gauche {
    height: 8vh;
}
.droite {
    height: 8vh;
    padding: 10px;
    
}
/* css */
body {
    background-color: #f0f0f0;
    
}
.main {
    .centre {
        padding-top: 3rem;
        display: grid;
        grid-template-columns: 3fr 1.5fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
}
.main {
    .centre {
        .liste-deux {
            display: grid;
            grid-column: 1 / 2;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 1rem;
        }
    }
}
body {
    .main
         .centre {
             article {
                 display: grid;
             }
         }
}

body {
    .main {
        .centre {
            aside {
                background-color: white;
                border: 2px solid #0166ff;;
            }
        }
    }
}





body {
    .main {
        .centre {
            aside {
                li {
                    display: grid;
                    grid-template-columns: 0.1fr 1fr;
                    padding: 0.8rem 0;
                    font-size: 1.1rem;
                }
            }
        }
    }
}
aside {
    nav {
        padding: 0;
        margin: 0;
    }
}